services:
  styletts2-api:
    image: bekzod47
    ports:
      - '8000:8000'
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  qwen-tts-api:
    build:
      context: ./qwen-tts
      dockerfile: Dockerfile.api
    environment:
      DISABLE_API_KEY_AUTH: "true"
      STORAGE_BACKEND: "local"
      LOCAL_STORAGE_ROOT: "/data/storage"
      S3_PREFIX: "qwen-tts-output"
    ports:
      - '8003:8000'
    volumes:
      - ./local-storage:/data/storage
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  seedvc-api:
    image: bekzod47
    ports:
      - '8001:8000'
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  make-an-audio-api:
    image: bekzod47
    ports:
      - '8002:8000'
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
